*{
    margin: 0;
    padding: 0;
  }
  h1{
    font-size: 25px;
    padding: 140px;
    margin-top: -25%;
    font-family: Playwrite AU NSW;
  }
  .imgtheme{
    position: relative;
    right: -130px;
    top: -50px;
  }
  h2{
    text-align: center;
    margin-top: -30px;
  }
  .imagtheme{
    position: relative;
    right: -130px;
    bottom: -70px;
  }
h3{
  padding: 30px;
  font-size: 23px;
  margin-top: -15px;
}
.imagetheme{
  position: relative;
  right: -130px;
  bottom: -110px;
}
h4{
  padding: 30px;
  font-size: 23px;
  margin-top: -15px;
}
.imtheme{
  position: relative;
  right: -130px;
  bottom: -150px;
}
h5{
  padding: 30px;
  font-size: 23px;
  margin-top: -15px;
}
